<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <title>NGM</title>
    <link href="../../static/css/styles.css"
          th:href="@{css/styles.css}" rel="stylesheet" media="screen"/>
</head>

<script th:inline="javascript">
    /*<![CDATA[*/
    function onLogoutClick() {
        document.cookie = "";
        document.location.href = "/"
    }
    function addItemToCart(){
        var numOfItemsInCart = parseInt(document.getElementById("numOfItemsInCart").textContent);
        numOfItemsInCart++;
        document.getElementById("numOfItemsInCart").textContent = numOfItemsInCart;
    }

    function removeItemFromCart(){
        var numOfItemsInCart = parseInt(document.getElementById("numOfItemsInCart").textContent);
        if(numOfItemsInCart > 0){
            numOfItemsInCart--;
            document.getElementById("numOfItemsInCart").textContent = numOfItemsInCart;
        }
    }

    // Function to add an item to the cart
    function incrementQuantity(uniqueId) {
        currentQuantity = document.getElementById("item"+uniqueId).value;
        var newQuantity = parseInt(currentQuantity) + 1;
        var ele = document.getElementById("item"+uniqueId);
        ele.value = newQuantity;
        addItemToCart();
        updateCartTotal();
    }

    function decrementQuantity(uniqueId) {
        currentQuantity = document.getElementById("item"+uniqueId).value;
        var newQuantity = parseInt(currentQuantity) - 1;
        var calculatedNewQuantity = Math.max(newQuantity, 0);
        document.getElementById("item"+uniqueId).value = calculatedNewQuantity;
        if(newQuantity >= 0){
            removeItemFromCart();
            updateCartTotal();
        }
    }



    // Function to update the cart's total
    function updateCartTotal() {
        var total = 0;
        var inputFields = document.getElementsByClassName("cart-item-amount-input");
        for (var i = 0; i < inputFields.length; i++) {
            var quantity = parseInt(inputFields[i].value);
            var priceAttribute = inputFields[i].getAttribute("data-price");
            var price = parseFloat(priceAttribute);
            total += quantity * price;
        }
        // Update the total displayed on the page
        document.getElementById("total").textContent = "$" + total.toFixed(2);
    }
    /*]]>*/
</script>

<body>
<div class="title" id="market">
    <img class="title_img" src="../../static/images/logo_transparent.png" height="100%"
         th:src="@{/images/logo_transparent.png}"/>
    <p class="title_p">Neighbourhood Grocery Market</p>
    <div class="right_user_div">
        <img class="title_img" src="../../static/images/user.svg" height="100%"
             th:src="@{/images/user.svg}"/>
        <p float="left" height="100%" class="right_user_div_p">
            Hi, <span th:text="${session.username}"/>
        </p>
        <a class="cart" id="cart" href="javascript:onViewCart();">
            <img class="title_img" src="../../static/images/cart.svg" width="40%"
                 th:src="@{/images/cart.svg}"/>
            <p id="numOfItemsInCart" class="numOfItemsInCart" th:text="${session.numOfItemsInCart}"></p>
        </a>
        <a style="padding-left: 10px" href="javascript:onLogoutClick();">
            <img style="float: right" src="../../static/images/logout.svg" height="100%"
                 th:src="@{/images/logout.svg}" title="Log out"/>
        </a>
    </div>
</div>

<div class="header">Cart</div>

<div class="main_div" style="display: flex">
    <div class="left_navigation" id="left-nav"></div>
    <div id="main-cart" class="cart-main">
        <!-- Loop through your cart items -->
        <tr th:each="record : ${cart}">
            <div class="cart_item_div">
                <div>
                    <!-- Add an image for the item -->
                    <img src="'../../static/images/'+${item.name}+'.png'"
                         th:src="@{'/images/'+${record.key.name}+'.png'}" />
                </div>
                <div>
                    <p class="cart_item_name" th:text="${record.key.name}"></p>
                    <p class="cart-item-price">$<span th:text="${record.key.price}"/></p>
                    <button type="submit" th:attr="onclick=|decrementQuantity('${record.key.id}')|"  class="quantButton">-</button>
                    <input th:id="item+${record.key.id}"  class="cart-item-amount-input" th:attr="data-price=${record.key.price}" readonly="true" th:value="${record.value}"/>
                    <button type="submit" th:attr="onclick=|incrementQuantity('${record.key.id}')|"  class="quantButton">+</button>
                </div>
            </div>
        </tr>
    </div>
    <div class="right_navigation" id="right-nav">
        <div class="right_div">
            <p class="cart_item_name" style="display:inline;font-size: 24;margin: 0;">Total: $</p>
            <p class="cart-item-price" id="total" style="display:inline;font-size: 28;">0</p>
        </div>
        <button onclick="location.href = '/checkout';" id="checkoutButton" class="nav_button">
            Continue to Checkout
        </button>
        <button onclick="location.href = '/inventory';" id="backButton" class="nav_button">Back to
            Shopping
        </button>
    </div>
</div>

<div class="footer">
    Powered by <a href="https://www.oracle.com/cloud/">OCI Application Container Cloud Service</a>
</div>

</body>
<script th:inline="javascript">
    updateCartTotal();
</script>
</html>