<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <title>NGM</title>
    <link href="../../static/css/styles.css"
          th:href="@{css/styles.css}" rel="stylesheet" media="screen"/>
</head>

<script>
    function onLogoutClick() {
        document.cookie = "";
        document.location.href = "/"
    }
</script>

<body>
<div class="title" id="market">
    <img class="title_img" src="../../static/images/logo_transparent.png" height="100%"
         th:src="@{/images/logo_transparent.png}"/>
    <p class="title_p">Neighbourhood Grocery Market</p>
    <div class="right_user_div">
        <img class="title_img" src="../../static/images/user.svg" height="100%"
             th:src="@{/images/user.svg}"/>
        <p float="left" height="100%" class="right_user_div_p">
            Hi, <span th:text="${user.username}"/>
        </p>
        <a style="padding-left: 10px" href="javascript:onLogoutClick();">
            <img style="float: right" src="../../static/images/logout.svg" height="100%"
                 th:src="@{/images/logout.svg}" title="Log out"/>
        </a>
    </div>
</div>

<div class="header">Checkout</div>

<div style="background: honeydew;">
    <h1 style="margin: 0;" id="header">Purchase Successful</h1>
    <div id="nav div" class="nav_div">
        <button onclick="location.href = '/inventory';" id="invButton" class="nav_button">
            Continue Shopping
        </button>
    </div>
</div>

<div class="footer">
    Powered by <a href="https://www.oracle.com/cloud/">OCI Application Container Cloud Service</a>
</div>
</body>
</html>